.location-master-container
{
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-form
{
    text-transform: uppercase;
    margin: 50px 0px 50px 0px;
    width: 100vw;
    height: 50vh;
    /* background-color:#0E0E0E; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
}
.subs-info
{
    display: flex;
    text-align: center;
    font-size: 2rem;
}
.form
{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
}

.form > input,
.text-area
{
    border: none;
    color: white;
    background-color: #1a1919;
    border-radius: 10px;
    text-wrap: wrap;
}
.text-area
{
    resize: none;
    display: flex;
    text-align: center;
    width: 550px;
    max-width: 95vw;
    height: 150px;
    word-wrap: break-word;
    text-wrap: wrap;
}
.submit
{
    padding: 19px 22px;
    font-weight: lighter;
}
.stars-area
{
    margin-top: 20px;
    align-items: right;
    height: 30px;
    width: 100px;
}
.button-submit
{
   background-color: black;
   border: none;
   height: 100px;
   margin-top: 10px;
   color: white;
}



.location-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 80vh;
    color: white;
    flex-direction: column;
}
.find-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.header-questions
{
    font-size: 2.5rem;
    margin-top: 50px;
}
.find-header
{
 letter-spacing: 0.2rem;
 font-weight: 100;   
}
.container-info-map
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.location-info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    text-align: center;
}
.map-container
{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
     filter: grayscale(100%);
    width: 60%;
    height: 100%;
}
.map
{
    width: 100%;
    height: 100%;
}
.location-links
{
    margin: 10px;
    color: white;
    font-size: 1.4rem;
}

@media only screen and (max-width: 1200px)
{
    .location-container
    {
        width: 90vw;
        height: 60vh;
    }
}
@media only screen and (max-width: 768px)
{
    .location-container
    {
        height: auto;
    }
    .container-info-map
    {
        flex-direction: column;
        width: 100vw;
    }
    .map-container
    {
        width: 95vw;
        height: 60vh;
    }
}