.question-master-container
{
    
    display: flex;
    flex-direction: column;
    width: 40vw;
}
.question-container
{
    width: 100%;
    display: flex;
    position: relative;
}


.icon
{
    position: absolute;
    top: 50%;  
    right: 0%; 

    transform: translate(-0%, -100%); 
}
.answer
{
    padding-left: 15px;
    
}
@media only screen and (max-width: 1200px)
{
    .question-master-container
    {
        width: 60vw;
    }
}
@media only screen and (max-width: 768px)
{
    .question-master-container
    {
        width: 90vw;
    }
    .question
    {
        width: 95%;
    }
}
@media only screen and (max-width: 425px)
{
    .header-questions
    {
        text-align: center;
    }
}